/*@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');*/
@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");

:root{
    --primary-color: #2E86B7;
}
.nav-div h1{
    /*font-family: 'Rubik Moonrocks', cursive;*/
    font-family: "Megrim", cursive;

    font-weight: 600;
}

.nav-div{
    background-color:var(--primary-color);
    padding: 1rem 2rem;
    color: aliceblue;
    margin: auto;
    width: 85%;
    transform: translate(0%,-28%);
    border-bottom-left-radius: 25px;
}

.nav .nav-li a{
    text-decoration: none;
    color: aliceblue;
}

.nav .nav-ul .nav-li{
    list-style: none;
    display: inline;
    padding-right: 1rem;
}

.nav{
    text-align: right;
    margin: 0px auto;
}

.nav .nav-li a:hover{
    color:lightcyan;
}
