.anglestri{
    font-family: 'Amatic SC', cursive;
    font-size: large;
}

.anglestri .div{
    font-weight: lighter;
}

.anglestri button{
    border-radius: 5px;
}

.anglestri button:hover{
    cursor: pointer;
}
.question-container{
    text-align: center;
    padding:1rem 0 1rem 0;
}

#submit{
    border-radius: 10px;
}

#submit:hover{
    border-color: aqua;
    cursor: pointer;
}

label,input:hover{
    cursor: pointer;
}